.bgcolor {
    height: max-content;
    background-color: #D6D6D6;
    max-width: auto;
    position: relative;
} 

/* navbar color */
    .navbarScroll.navbarDark {
        background-color: black;
    }

    .navbar-light {
        background-color: #d6d6d6 !important;
    }

.navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #562B00 !important;
    font-size: 40px !important;
}

.nav-link {
    color: #7C3F00 !important;
}

.navbar  {
    color: #D6D6D6 !important;
}


/* text section1*/

.textv {
    padding-left: 15%;
    padding-right: 15%;
}


h5 {
    color:#7C3F00;
}
h2, h3 {
    font-weight: bold !important;
    color:#633200;
    font-size: 430% !important;
}

span {
    color: #BA5E00;
}

.rounded p-5  w-100 {
    align-items: center;
}

/* avatar */



/* .carousel .item img {
    left: -9999px  !important; 
    right: -9999px !important; 
    margin: 0 auto  !important; 
    max-width: none !important; 
    min-width: 100%;
    position: absolute;
 } */


 /* footer section */

 .social-icons {
    font-size: 36px;
    cursor: pointer;
 }

 .fa-facebook:hover, .fa-linkedin:hover {
    color: #d6d6d6;
 }

 #socials {
    background-color: #7C3F00;
    text-align: center;
 }

 /* Services section */

 .servicesText.card {
    height: 280px;
    cursor: pointer;
 }

 .servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
 }

 .card-title {
    text-align: center;
 }

 .card:hover .servicesIcon {
    color: #7C3F00;
 }

 .servicesText:hover {
    border: 1px solid #7C3F00;
 }

@media only screen and (max-width: 768px) {
    .textv {
        margin: 5% !important;
    }

    .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .avaimage {
        display: block;
        border-radius: 50% !important;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        
    }
}



