@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body {
    font-family: Poppins !important;
}
.bgcolor {
    height: 100vh;
    background-color: #D6D6D6;
    /* max-width: auto; */
    background-size: cover;
    position: relative;
} 

/* navbar color */


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='coral' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
.navbar-toggler{
  border: 2px solid #562B00 !important;
}
.navbar-toggler:focus{
  box-shadow: none;
}

    .navbar-light {
        background-color: #d6d6d6 !important;
    }

.navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #562B00 !important;
    font-size: 40px !important;
}

.nav-link {
    color: #7C3F00 !important;
}

.navbar  {
    color: #562B00 !important;
}


/* text section1*/

.textv {
    padding-left: 15%;
    /* padding-right: 15%; */
    margin-top: 30%;
    margin-bottom: 30%;
}


h5 {
    color:#7C3F00;
}
h2 {
    font-weight: bold !important;
    color:#633200;
    font-size: 4vw !important;
    margin-left: auto;
    margin-right: auto;
}

span {
    color: #BA5E00;
}

.rounded p-5  w-100 {
    align-items: center;
}

/* avatar */
.avaimage {
    display: block;
        border-radius: 1px 1px 1px 100px !important;
        
        box-shadow: 25px -25px #c5c5c5 !important;
        
        max-width: 60%;
        margin-top: 20% !important;
        /* margin-bottom: 30%; */
}

/* about */
    

/* .carousel .item img {
    left: -9999px  !important; 
    right: -9999px !important; 
    margin: 0 auto  !important; 
    max-width: none !important; 
    min-width: 100%;
    position: absolute;
 } */


 /* footer section */

 .social-icons {
    font-size: 36px;
    cursor: pointer;
 }

 .fa-facebook:hover, .fa-linkedin:hover {
    color: #d6d6d6;
 }

 #socials {
    background-color: #7C3F00;
    text-align: center;
 }

 /* Services section */

 .servicesText.card {
    height: 280px;
    cursor: pointer;
 }

 .servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
 }

 .card-title {
    text-align: center;
 }

 .card:hover .servicesIcon {
    color: #7C3F00;
 }

 .servicesText:hover {
    border: 1px solid #7C3F00;
 }

@media only screen and (max-width: 768px) {
    .textv {
       padding-left: 19%;
       padding-right: 19%;
       width: 100%;
        /* margin-top: -21% !important;
        margin-bottom: 5% !important; */
        /* transform: translate(5%, -99%); */
    }
    

    .blue23 {
        /* font-size: 195% !important; */
        font-size: 5vw !important;
        line-height: 99%;
        word-spacing: 2px;
        margin-left: auto;
        margin-right: auto;
        font-weight: bolder !important;
        font-size: 200% !important;
        top: 50%;
        left: 50%;
    }

    .blue-32 {
        font-size: 14px;
    }

    .blue32 {
        font-size: 5vw !important;
    }

    .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .avaimage {
        display: block;
        border-radius: 1px 1px 1px 500px !important;
        /* margin-top: 40px; */
        box-shadow: 18px -18px #c5c5c5 !important;
        margin-left: auto;
        margin-right: auto;
        max-width: 40%;
        
    }

    .col-md-6 {
        margin-bottom: 1px !important;
    }

    .ginger {
        display: flex;
        flex-direction: column-reverse;
    }
}



